                              /* Index Page  */
body {
    background-color: rgb(192, 236, 221);
    background-repeat: no-repeat;
    
    
  }
   a{
     margin: 20px;
  } 


  .cart{
    align-content: right;
    font-size: medium;
  }

  .hd_a
  { 
    font-size: 55px;
    color: darkblue;
    align-items: center;
    text-decoration: none;

  }
  .nav_a{
    align-items: center;
    font-size: medium;
  }
  .category{
    font-size: 20px;
    margin: 1%;
    
  }
  .addCart{
    width: 15px;
    height: inherit;
  }
  .menu{
    margin-right: 20px;
  }
  .img_css{
    padding: 0px 60px ;
  }
  .cat_img{
    width: 100px;
    height: 150px;
  }
  .cat_li{
    text-decoration: none;
    font-size: 25px;
  }
  .cs_cs{
    align-items: center;
  }
  .reg_a{

  }
  

                              /* login page */

  .login_table {
    border-spacing: 25px;
  }
  /* Register */
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  
