<%- include("header")-%>
       
     
        <div align="center">
          <br>
          <br>
          <br>
          <div class="container">
            <form class="login_form" action="/login" method="post" >
              <table class="login_table" >
                <tr>
                  <td>Email</td>
                  <td><input type="email" name="email" class="login_email"></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><input type="password" name="password" class="login_pass"></td>
                </tr>
              </table>  
              <input type="checkbox" class="login_submit"><label>Remember Me</label>
              <br>
              <br>
              <button type="submit" class="btn" >Login</button>
            </form>
            <br>
            <a href="register" class="reg_a">New User?</a>
        </div>
      </div>
        <script src="" async defer></script>
    </body>
</html>