<%- include("header")-%>
<link rel="stylesheet" href="css/register_style.css">
         <br>
         <br>
         <div class="container">
            
                
            <form class="form" action="/register" id="register" method="post">
                <h1>Register</h1>
                <br>
                <div class="form-field">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="mobile">Mobile No:</label>
                    <input type="number" name="mobile" id="mobile">
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email">
                    <small></small>
                </div>

                <div class="form-field">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                    <small></small>
                </div>

                <div class="form-field">
                    <label for="password">Confirm Password:</label>
                    <input type="password" name="confirmpassword" id="confirmpassword">
                    <small></small>
                </div>
                <br>
                <div class="form-field">
                    <button type="submit" value="Sign Up" name="signup" id="signup" class="btn">Register</button>
                </div>
            </form>
        </div>  
        <script src="javascript/add.js" charset="utf-8"   ></script>
    </body>
</html>