

            /* Index Page  */
body {
    background-color: rgb(192, 236, 221);
    background-repeat: no-repeat;
    
    
  }
   a{
     margin: 20px;
  } 

  .hd_a
  { 
    font-size: 55px;
    color: darkblue;
    align-items: center;
    text-decoration: none;
    display: inline;

  }
  .nav_a{
    align-items: center;
    font-size: medium;
  }
  .category{
    font-size: 20px;
    margin: 1%;
    
  }
  .addCart{
    width: 15px;
    height: inherit;
  }
  .menu{
    margin-right: 20px;
  }
  .img_css{
    padding: 0px 60px ;
  }
  .cat_img{
    width: 100px;
    height: 150px;
  }
  .cat_li{
    text-decoration: none;
    font-size: 25px;
  }
  .cs_cs{
    align-items: center;
  }
  .reg_a{

  }
  #profileName{
    margin-left: 77%;
    display: inline;
  }

                              /* login page */

  .login_table {
    border-spacing: 25px;
  }
  /* Register */
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* width: 200px; */
  justify-content: center;
  /* display: grid; */
  /* min-height: 100vh; */
  /* margin: 50px; */
  margin: auto;
  width: 30%;
  /* border: 3px solid green; */
  padding: 10px;
}
.btn {
  width: 20%;
  padding: 5px;
  background: #007bff;
  border-bottom: 2px solid #007bff;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  text-transform: uppercase;
}

.btn:hover {
  background: #0069d9;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
